:host ::ng-deep .mat-mdc-dialog-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 10px;

    &::before{
        display: none;
    }
}

:host ::ng-deep .mat-mdc-form-field-error-wrapper{
    padding: 0;
}

:host ::ng-deep .mat-mdc-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;
}

:host ::ng-deep .mat-mdc-dialog-content{
    padding-bottom: 5px;
}